<!DOCTYPE html>
<html lang="en"
    xmlns:th:="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/bootstrap.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Bosh sahifa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/services">Servislar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/service/create">Yangi Servis qo'shish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/create">Yangi Klient qo'shish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users">Mijozlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/history/create">Yangi savdo qo'shish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/histories">Savdolarni ko'rish</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="color: #a52834" href="/logout">Tizimdan chiqish</a>
              </li>
            </ul>
            <form class="d-flex" action="/users/by-name" role="search">
              <input class="form-control me-2" type="search" name="name" required placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Qidirish</button>
            </form>
          </div>
        </div>
      </nav>
      <div style="text-align: center">
        <img src="/error_pages/forbidden.png" style="height: 80%;" alt="Ruxsat aniqlanmadi">
        <!-- <img src="/error_pages/forbidden.png" style="height: 80%;" alt="Ruxsat aniqlanmadi"> -->
        <h1 th:text="${val}">Xatolik</h1>
        <br>
        <h1 th:text="${code}"></h1>
      </div>
</body>
</html>